{% extends 'base.html' %}
{% block title %}Home {% endblock title %}
{% block body %}
  <div>
    <main>
      <section class="glass">
        <table>
          <thead>
            <tr id="header">
              <th>Coins</th>
              <th>Amount Owned</th>
              <th>Amount in INR</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><i class="fa-brands fa-bitcoin"></i>Bitcoin</td>
              <td class="amount"><form action="#" method="post"><input type="text" name="amountbtc" placeholder="Enter Amount"></form></td>
              <td class="amountINR">$520.18</td>
            </tr>
            <tr>
              <td>
                <span class="fa-brands fa-ethereum"></span>Etherum
              </td>
              <td class="amount"><input type="text" name="amounteth" placeholder="Enter Amount"></td>
              <td class="amountINR">$520.18</td>
            </tr>
            <tr>
              <td><i class="fa-solid fa-litecoin-sign"></i>Litecoin</td>
              <td class="amount"><input type="text" name="amountltc" placeholder="Enter Amount"></td>
              <td class="amountINR">$520.18</td>
            </tr>
            <tr>
              <td><i class="fa-brands fa-bitcoin"></i>Solano</td>
              <td class="amount"><input type="text" name="amount" placeholder="Enter Amount"></td>
              <td class="amountINR">$520.18</td>
            </tr>
            <tr>
              <td><i class="fa-brands fa-bitcoin"></i>DogeCoin</td>
              <td class="amount"><input type="text" name="amount" placeholder="Enter Amount"></td>
              <td class="amountINR">$520.18</td>
            </tr>
            <tr>
              <td><i class="fa-brands fa-bitcoin"></i>Shiba</td>
              <td class="amount"><input type="text" name="amount" placeholder="Enter Amount"></td>
              <td class="amountINR">$520.18</td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
    <h1>Tax to be Paid: INR {{usr}}</h1>
    <footer>
      <ul>
        <li style="--clr:#e6e6f3;">
          <a href="https://github.com/some-earth11/mozohack-mc" target="_blank"><i class="fa-brands fa-github"></i></a>
        </li>

      </ul>
    </footer>
  </div>
{% endblock body %}