<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://kit.fontawesome.com/7bea8a4b31.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cryptocurrency</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/crypto.css')}}">
</head>
<body>
  <div>
    <main>
      <section class="glass">
        <table>
          <thead>
            <tr id="header">
              <th>Coins</th>
              <th>Amount Owned</th>
              <th>Amount in INR</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><i class="fa-brands fa-bitcoin"></i>Bitcoin</td>
              <td class="amount">$520.18</td>
              <td class="amountINR">$520.18</td>
            </tr>
            <tr>
              <td>
                <span class="fa-brands fa-ethereum"></span>Etherum
              </td>
              <td class="amount">$415.25</td>
              <td class="amountINR">$520.18</td>
            </tr>
            <tr>
              <td><i class="fa-solid fa-litecoin-sign"></i>Litecoin</td>
              <td class="amount">$1324.84</td>
              <td class="amountINR">$520.18</td>
            </tr>
            <tr>
              <td><i class="fa-brands fa-bitcoin"></i>Cardano</td>
              <td class="amount">$998.26</td>
              <td class="amountINR">$520.18</td>
            </tr>
            <tr>
              <td><i class="fa-brands fa-bitcoin"></i>DogeCoin</td>
              <td class="amount">$1152.35</td>
              <td class="amountINR">$520.18</td>
            </tr>
            <tr>
              <td><i class="fa-brands fa-bitcoin"></i>PolkaDot</td>
              <td class="amount">$1152.35</td>
              <td class="amountINR">$520.18</td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
    <footer>
      <ul>
        <li style="--clr:#e6e6f3;">
          <a href="https://github.com/some-earth11/mozohack-mc"><i class="fa-brands fa-github"></i></a>
        </li>

      </ul>
    </footer>
  </div>
</body>

</html>